/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.7;
  color: #777;
  padding: 2.5rem;
}

header {
  height: 95vh;
  background-image: linear-gradient(
      to right bottom,
      rgba(127, 214, 112, 0.605),
      rgba(85, 197, 122, 0.607)
    ),
    url(../img/hero.jpg);
  background-size: cover;
  background-position: top;
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
  position: relative;
}

.logo-box {
  position: absolute;
  top: 4rem;
  left: 4rem;
}

.logo {
  height: 4rem;
}

h1 {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
}

#heading-main {
  font-size: 3.6rem;
  font-weight: 700;
  letter-spacing: 31px;
  padding-left: 4px;
}

#heading-sec {
  font-size: 2.8rem;
  font-weight: 700;
  letter-spacing: 5px;
}
