/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.7;
  color: #777;
  padding: 2.5rem;
}

header {
  height: 95vh;
  background-image: linear-gradient(
      to right bottom,
      rgba(127, 214, 112, 0.605),
      rgba(85, 197, 122, 0.607)
    ),
    url(../img/hero.jpg);
  background-size: cover;
  background-position: top;
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
  position: relative;
}

.logo-box {
  position: absolute;
  top: 4rem;
  left: 4rem;
}

.logo {
  height: 4rem;
}

.text-box {
  position: absolute;
  top: 45%;
  right: 50%;
  transform: translate(50%, -50%);
  display: flex;
  flex-direction: column;
}

h1 {
  display: flex;
  flex-direction: column;
  color: #fff;
  margin-bottom: 2rem;
}

#heading-main {
  display: block;
  font-size: 3.6rem;
  font-weight: 700;
  letter-spacing: 31px;
  padding-left: 4px;
  backface-visibility: hidden;
  animation: 1s ease-out moveInLeft;
}

#heading-sec {
  display: block;
  font-size: 2.8rem;
  font-weight: 700;
  letter-spacing: 5px;
  animation: moveInRight 1s ease-out;
  backface-visibility: hidden;

  /* animation-delay: 0.5s;
  animation-iteration-count: 3; */
  animation-timing-function: ease-out;
}

.btn:link,
.btn:visited {
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
  padding: 1rem 1.5rem;
  border-radius: 10px;
  box-shadow: 0 25px 40px 0px rgba(0, 0, 0, 0.3);
}

.btn-white {
  color: #777;
  background-color: #fff;
  align-self: center;
  align-items: center;
  transition: 0.3s;
}

.btn-white:hover {
  transition: 0.2s;
  box-shadow: 0 25px 35px 0px rgba(0, 0, 0, 0.35);
  transform: translateY(2px);
}

.btn-white:active {
  transition: all 0.2s;
  box-shadow: 0 25px 30px 0px rgba(0, 0, 0, 0.4);
  transform: translateY(4px);
}


.btn::after {
  content: ;
  width: 100%;
  height: 100%;
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.btn-white:hover:after {
    background-color: red;
    scale: 1.5;
}

/* .btn:hover::after {
  transform: scale(1);
  opacity: 0;
  transition: 1s;
  background-color: #fff;
} */
  /* transform: translate(50%, -50%);
transform: scale(1.5);

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translate(-100px);
  }
  70% {
    transform: translateX(10px);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translate(100px);
  }
  70% {
    transform: translateX(-10px);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
